body {
    background-color: #FFDFAA;
}

	

.datatableVenda{
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
    width: 50%;
    text-align: center;
    position: left;
}

.ui-breadcrumb{
	font-weight: bold;
    font-family: arial;
    font-size: 14px;
}
#carrinhoPanel{
	font-weight: bold;
    font-family: arial;
    font-size: 14px;
    width: 35%;
    text-align: center;
    position: absolute;
    right: 0%;
    top: 15.55%;
    margin-right: 7.5%;	
}
#formCarrinho{
	font-weight: bold;
    font-family: arial;
    font-size: 14px;
    float: right; 
}
