<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Sistema de Controle Financeiro e Estoque Agropecuário</title>
	<link rel="StyleSheet" type="text/css" href="css/estilos.css"
		media="screen" />
</h:head>
<h:body>
	<p:breadCrumb>
		<p:menuitem value="Área de Venda" url="AreaVenda.xhmtl" />
		<p:menuitem value="Área do Gerente" url="AreaGerente.xhtml" />
	</p:breadCrumb>

	<h:form id="buscaProduto">

		<h:panelGrid columns="2" style="margin:10px 0">
			<p:inputText value="" size="60" />
			<p:commandButton icon="ui-icon-search" title="buscar" />
		</h:panelGrid>

		<p:dataTable id="produtos" var="produto" value="" scrollable="true"
			scrollHeight="420" resizableColumns="true"
			styleClass="datatableVenda">
			<f:facet name="header">Produtos</f:facet>
			<p:column headerText="Produto" style="width:35%;">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Marca" style="width:35%;">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Qdt" style="width:10%;">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Preço" style="width:15%;">
				<h:outputText value="" />
			</p:column>
			<p:column style="width:10%;">
				<p:commandButton icon="ui-icon-cart" title="Add" type="button" />
			</p:column>
		</p:dataTable>
	</h:form>

	<h:panelGrid id="carrinhoPanel" columns="2">

		<p:dataTable id="carrinho" var="carrinho" value="" scrollable="true"
			resizableColumns="true" scrollHeight="250">
			<f:facet name="header">Carrinho</f:facet>
			<p:column headerText="Produto" style="width:35%;">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Qdt" style="width:10%;">
				<h:outputText value="" />
			</p:column>

			<p:column headerText="Preço" style="width:15%;">
				<h:outputText value="" />
			</p:column>
			<p:column style="width:10%;">
				<p:commandButton icon="ui-icon-circle-close" title="retirar"
					type="button" />
			</p:column>
			<f:facet name="footer">Total:</f:facet>
		</p:dataTable>
		<br />
		<br />
		<br />

		<h:form id="formCarrinho">
			<p:selectManyCheckbox id="basic"
				value="#{checkboxView.selectedConsoles}">
				<f:selectItem itemLabel="Dinheiro" itemValue="Xbox One" />
				<f:selectItem itemLabel="Debito" itemValue="PS4" />
				<f:selectItem itemLabel="Credito" itemValue="Wii U" />
			</p:selectManyCheckbox>
			<br />
     COD:<p:inputText value="" />
			<br />
			<br />
			<br />
			<p:commandButton value="Concluir Venda" />
			<p:commandButton value="Cancelar" />
		</h:form>

	</h:panelGrid>





</h:body>
</HTML>