<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>Sistema de Controle Financeiro e Estoque Agropecuário</h:head>
<h:body>
	<h:form>
           <h1>Olá</h1>
               Nome: <h:inputText />
               <br/>
               Sobrenome: <h:inputText />
               <br/>
               <h:commandButton value="Dizer olá" />
          </h:form>

</h:body>
</HTML>